@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Poppins:wght@200;300;400;600;700&display=swap");
html {
  font-family: "Poppins", sans-serif;
}

.circle {
  fill: none;
  stroke: rgb(118, 127, 226);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  stroke-dasharray: 180;
}

.progress-2 .circle {
  fill: none;
  stroke: rgb(118, 127, 226);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  stroke-dasharray: 140;
}
.progress-3 .circle {
  fill: none;
  stroke: rgb(118, 127, 226);
  stroke-width: 14;
  stroke-linecap: round;
  transform: translate(5px, 5px);
  -webkit-transform: translate(5px, 5px);
  -moz-transform: translate(5px, 5px);
  -ms-transform: translate(5px, 5px);
  -o-transform: translate(5px, 5px);
  stroke-dasharray: 190;
}
